COMPANY_NAME="Eonpulse Tech"
SITE_NAME="PDF Store"
#  MongoDB Connection String
MONGODB_URI="
CUSTOM_API_URL="http://localhost:3000/api"

# CLOUDNARY
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET_KEY = 